<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cosengcosa.room.mapper.BasketMapper" >

	<!-- 장바구니 리스트 -->
	<select id="basketList" resultType="Basket" resultMap="basketResultMap">
		SELECT
			ba_no,	           
			ba_mid,
			ba_name,
			ba_cmcode,
			ba_cname,
			ba_price
        FROM
           basket
		<where>
           ba_mid LIKE '%' || #{userid} || '%'
           </where>
        ORDER BY ba_no DESC
	</select>
	
	<!-- 장바구니 중복 강의 체크 -->
	<select id="basketCount" resultType="int">
		SELECT COUNT(*) FROM basket 
		WHERE ba_cmcode = #{baCmcode} AND ba_mid LIKE '%' || #{baMid} || '%'
	</select>
	
	<!-- 장바구니 정보(강의) 가져오기 -->
	<select id="getClassMainInfo" resultType="ClassMain">
		SELECT
			cm_no		AS cmNo,
			cm_code 	AS cmCode, 
			cm_title 	AS cmTitle,
			cm_name 	AS cmName,
			cm_content 	AS cmContent,
			cm_period	AS cmPeriod,			
			cm_price 	AS cmPrice,
			cm_count	AS cmCount,
			cm_recommend AS cmRecommend,
			cm_star		AS cmStar,
			video		AS	video
		FROM 
			classmain
		WHERE
			cm_yn = 'Y'
			AND cm_code = #{baCmcode}
	</select>
	
	<!-- 장바구니 입력 -->
	<insert id="insertBasket" parameterType="Basket" useGeneratedKeys="false" keyProperty="baNo">
	INSERT INTO basket (ba_no, ba_mid, ba_name, ba_cmcode, ba_cname, ba_price) 
	VALUES (basket_seq.NEXTVAL, #{baMid}, #{baName}, #{baCmcode}, #{baCname}, #{baPrice})
	</insert>
	
	<resultMap id="basketResultMap" type="Basket">
		<id property="baNo" column="ba_no" />
		<result property="baMid" column="ba_mid" />
		<result property="baName" column="ba_name" />
		<result property="baCmcode" column="ba_cmcode" />
		<result property="baCname" column="ba_cname" />
		<result property="baPrice" column="ba_price" />
	</resultMap>

</mapper>	



