<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cosengcosa.room.mapper.ClassSubMapper" >

	<!-- 서브강의 리스트 -->
	<select id="classSubList" resultType="ClassSub" resultMap="classSubResultMap">
		SELECT
            cs_no,        
            cs_code,
            cs_group,
            cs_title,
            cs_content,            
            cs_video,
            cs_runtime,
            cs_yn
        FROM
           classsub
		<where>
           cs_yn = 'Y'
           AND cs_group LIKE '%' || #{cmcode} || '%'
           </where>
        ORDER BY cs_no ASC
	</select>
	
	<!-- 서브강의 코드 조회 -->
	<select id="getClassSubCode" resultType="ClassSub" resultMap="classSubResultMap">
		SELECT NVL(max(cs_code), '01') AS cs_code FROM classsub
		WHERE cs_group = #{cmcode}
	</select>

	<!-- 서브강의 입력 -->
	<insert id="insertClassSub" parameterType="ClassSub" useGeneratedKeys="false" keyProperty="csNo">
	INSERT INTO classsub (cs_no, cs_code, cs_group, cs_title, cs_content, cs_video, cs_runtime, cs_yn) 
	VALUES (classsub_seq.NEXTVAL, #{csCode}, #{csGroup}, #{csTitle}, #{csContent}, #{csVideo}, #{csRuntime}, #{csYn})
	</insert>
	
	<!-- 처음 입력시 메인강의 비디오값 확인 -->
	<select id="selectClassMainChk" resultType="String">
		SELECT video FROM classmain
		WHERE cm_code = #{cmCode}
	</select>
	<!-- 메인강의 비디오값 수정 -->
	<update id="updateClassMainVideo">
	UPDATE 
	    classmain
	SET
	    video = #{voide}
	WHERE 
	    cm_code = #{cmCode}
	</update>
	
	<!-- 서브강의 상세 조회(서브강의코드) -->
	<select id="getClassSub" resultType="ClassSub" resultMap="classSubResultMap">
		SELECT 
    		cs_no, cs_code, cs_group, cs_title, cs_content, cs_video, cs_runtime, cs_yn
		FROM
		    classsub
		WHERE
    		cs_code = #{cscode}
	</select>
	
	<update id="updateClassSub" parameterType="ClassSub">
		UPDATE
		    classsub
		SET
		    cs_title = #{csTitle},
		    cs_content = #{csContent},
		    cs_video = #{csVideo},
		    cs_runtime = #{csRuntime}
		WHERE
		    cs_code = #{csCode}
	</update>
	
	<update id="deleteClassSub" parameterType="ClassSub">
		UPDATE
		    classsub
		SET
		    cs_yn = #{csYn}
		WHERE
		    cs_code = #{csCode}
	</update>
	
	<resultMap id="classSubResultMap" type="ClassSub">
		<id property="csNo" column="cs_no" />
		<result property="csCode" column="cs_code" />
		<result property="csGroup" column="cs_group" />
		<result property="csTitle" column="cs_title" />
		<result property="csContent" column="cs_content" />
		<result property="csVideo" column="cs_video" />
		<result property="csRuntime" column="cs_runtime" />
		<result property="csYn" column="cs_yn" />
	</resultMap>

</mapper>	



