<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cosengcosa.room.mapper.DmtbMapper" >

	<!-- 동적테이블 리스트 -->
	<select id="dmtbList" resultType="Dmtb" resultMap="dmtbResultMap">
		SELECT
			dmtb_no,	           
			dmtb_name,
			dmtb_code
        FROM
           dmtb
        ORDER BY dmtb_no ASC
	</select>
	
	<!-- 비우기 -->
	<delete id="dmtbDel">
		DELETE FROM dmtb
	</delete>
	<!-- 채우기 -->
	<insert id="dmtbAdd">
	INSERT INTO dmtb (dmtb_no, dmtb_name, dmtb_code) 
	VALUES (#{dmtbNo, jdbcType=INTEGER}, #{dmtbName}, #{dmtbCode})
	</insert>
	
	<!--
		Board 클래스의 프로퍼티와 테이블의 컬럼을 맵핑하는 ResultMap
		 
		테이블에 언터스코어 표기법으로 작성된 컬럼이 존재하면 도메인 객체의
		카멜케이스된 프로퍼티를 통해 컬럼의 값을 제대로 읽어오지 못한다.
		아래와 같이 resultMap을 정의해 테이블의 컬럼과 도메인 객체의
		프로퍼티를 설정하면 제대로 읽어 올 수 있다.
		
		resultMap 태그에 type 속성은 쿼리 결과를 매핑할 자바 도메인 객체를
		지정하고 그 하부에 <id> 태그를 사용해 기본키 컬럼을 지정한다.
		나머지 컬럼은 <result> 태그를 사용해 지정하면 도메인 객체로 맵핑할 수 있다.  
	-->
	<resultMap id="dmtbResultMap" type="Dmtb">
		<id property="dmtbNo" column="dmtb_no" />
		<result property="dmtbName" column="dmtb_name" />
		<result property="dmtbCode" column="dmtb_code" />
	</resultMap>

</mapper>	



