<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosengcosa.room.mapper.FreeBoardMapper" >
	
	<select id="freeBoardList" resultType="FreeBoard" parameterType="hashmap">
				    SELECT
					    num, fNo,fTitle, fContent,fWriter,fYn,fCdate
					FROM    
					    (SELECT
					        ROWNUM num, fNo,fTitle, fContent,fWriter,fYn,fCdate
					    FROM 
					        (SELECT
					           f_no AS fNo,
				                f_title AS fTitle,
				                f_content AS fContent,
				                f_writer AS fWriter,
				                f_yn AS fYn,
				                f_cdate As fCdate
					        FROM
				                freeBoard
							WHERE
				            f_yn = 'Y'
				        ) freeBoard
				        ORDER BY fNo DESC
				    )
			    	<where>
						num <![CDATA[>=]]> #{startRow} AND num <![CDATA[<=]]> #{endRow}
						<if test="type == 'title'">
							AND fTitle LIKE '%' || #{keyword} || '%'
						</if>
						<if test="type == 'writer'">
							AND fWriter LIKE '%' || #{keyword} || '%'
						</if>
					</where> 
			    	
			    
	</select>
	
	<select id="getFreeBoardCount" resultType="int">
		SELECT 
		    COUNT(f_no) 
		FROM 
			freeBoard 
		<where>
			<if test="type == 'title'">
				f_title LIKE '%' || #{keyword} || '%'
			</if>				
			<if test="type == 'writer'">
				f_writer LIKE '%' || #{keyword} || '%'
			</if>				
		</where>
	</select>
	
	<select id="getFreeBoard" resultType="FreeBoard" resultMap="FreeBoardResultMap">
		SELECT 
			* 
		FROM freeBoard 
		WHERE f_no = #{fNo}
	</select>
	
	<!-- sAskimg -->
	<insert id="insertFreeBoard" parameterType="FreeBoard"
		useGeneratedKeys="false" keyProperty="fNo">
		INSERT INTO freeBoard (f_no,f_title, f_content,f_writer,f_yn,f_cdate) 
		
		VALUES(freeBoard_seq.NEXTVAL, #{fTitle}, #{fContent}, #{fWriter}, #{fYn}, SYSDATE)
				
	</insert>
	
	<update id="incrementReadCount">
		UPDATE freeBoard
			SET f_count = f_count + 1
		WHERE f_no = #{fNo}
	</update>
	
	<update id="updateFreeBoard" parameterType="FreeBoard">
		UPDATE freeBoard 
			SET f_title = #{fTitle}, f_content = #{fContent}, 	
				f_cdate = SYSDATE
		WHERE f_no = #{fNo}
	</update>
	
	<delete id="deleteFreeBoard">
		DELETE FROM freeBoard
		WHERE f_no = #{fNo}
	</delete>
	
	<!-- 댓글 -->
	
	<select id="freeBoardCmtList" resultType="FreeBoardCmt">
		SELECT 
   			fc_no AS fcNo,
   			fc_num AS fcNum, 
   			fc_content AS fcContent,
   			fc_writer AS fcWriter,
   			fc_cdate AS saCdate,
   			fc_yn AS fc_Yn 
		FROM 
		    freeBoardCmt 
		WHERE 
		    fc_num = #{fcNo} 
		ORDER BY 
		    fc_no DESC   
	</select>
	
	<update id="updateRecommend">
		UPDATE freeBoard
			SET
				f_recommend = f_recommend + 1
		WHERE f_no = #{fNo}
	</update>
	
	<select id="getRecommend" resultType="FreeBoard">
		SELECT f_recommend
		FROM freeBoard
		WHERE f_no = #{fNo}
	</select>
	
	<insert id="addFreeCmt" parameterType="FreeBoardCmt">
		INSERT INTO freeBoardCmt(fc_no, fc_num, fc_content, fc_writer, fc_cdate, fc_yn)
		VALUES(freeBoardCmt_seq.NEXTVAL,#{fcNum}, #{fcContent}, #{fcWriter},  SYSDATE, #{fcYn})
	</insert>
	
	<update id="updateFreeCmt" parameterType="FreeBoardCmt">
		UPDATE freeBoardCmt
			SET fc_content = #{fcContent}, 
				fc_cdate = SYSDATE
		WHERE fc_no = #{fcNo}
	</update>
	
	<delete id="deleteFreeCmt">
		DELETE FROM freeBoardCmt
		WHERE fc_no = #{fcNo}
	</delete>
	
	<delete id="deleteFreeCmtNum">
		DELETE FROM freeBoardCmt
		WHERE fc_num = #{fcNo}
	</delete>
	
	<!-- Pay 클래스의 프로퍼티와 테이블의 컬럼을 맵핑하는 ResultMap -->
	<resultMap id="FreeBoardResultMap" type="FreeBoard" >
		<id property="fNo" column="f_no" />
		<result property="fTitle" column="f_title" />
		<result property="fContent" column="f_content" />
		<result property="fWriter" column="f_writer" />
		<result property="fCount" column="f_count" />
		<result property="fRecommend" column="f_recommend" />
		<result property="fCdate" column="f_cdate" />
		<result property="fYn" column="f_yn" />
	</resultMap>
</mapper>	


