<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!--
	맵퍼의 namespace 속성은 맵핑 구문을 그룹핑 하는 역할을 한다.
	여러 맵퍼에서 맵핑 구문의 id 속성의 값이 중복되더라도 namespace와
	맵핑 구문의 id 속성에 지정한 값을 합쳐서 호출하기 때문에 맵핑 구문이
	중복되지 않게 분류하여 관리할 수 있다.
	테이블 이름을 바탕으로 namespace를 지정하고 맵핑 구문의 id 속성의
	값은 SQL 문의 맥락에 따라서 명명하는 것이 일반적 이다.
	
	parameterType 속성에는 주로 SQL 문의 조건에 사용할 파라미터의
	데이터 타입을 지정하는 속성으로 자바 원시 타입(기본 타입, String)과 자바빈,
	Map과 같은 타입을 지정할 수 있다. resultType 속성도 parameterType
	속성에서 지정한 타입을 많이 사용한다. parameterType과 resultType에
	지정할 데이터 타입이 자바 원시 타입이면 생략가능하다.
	
	마이바티스 참고 사이트
	  - http://blog.mybatis.org/ 
	  - http://www.mybatis.org/mybatis-3/ko/index.html
-->
<mapper namespace="com.cosengcosa.room.mapper.MyClassMapper" >	
<!-- 결제된 메인강의 추가 맵핑 구문 -->
<insert id="insertMyClassMain"  parameterType="hashmap">
	INSERT INTO myclassmain (mym_no, mym_mid, mym_code, mym_title, mym_name, mym_period, mym_price, mym_sdate, mym_edate, mym_done, mym_yn) 
	VALUES (myclassmain_seq.NEXTVAL, #{id}, #{cmCode}, #{cmTitle}, #{cmName}, #{cmPeriod}, #{cmPrice}, sysdate, ADD_MONTHS(sysdate, #{cmPeriod}), 'N', 'Y')
</insert>
<!-- 결제된 서브강의 추가 맵핑 구문-->
<insert id="insertMyClassSub"  parameterType="hashmap">
	INSERT INTO myclasssub (mys_no, mys_mid, mys_code, mys_group, mys_title, mys_content, mys_video, mys_runtime, mys_watchtime, mys_sdate, mys_edate, mys_ddate, mys_done, mys_yn) 
	VALUES (myclasssub_seq.NEXTVAL, #{id}, #{csCode}, #{csGroup}, #{csTitle}, #{csContent}, #{csVideo}, #{csRuntime}, '0', sysdate, ADD_MONTHS(sysdate, #{period}), null,'N', 'Y')
</insert>
<!-- 수강중인 메인강의 조회 맵핑 구문-->
<select id="getMyClassMain" resultType="MyClassMain" resultMap="MyClassMainResultMap" parameterType="hashmap">
	SELECT mym_no, mym_mid, mym_code, mym_title, mym_name, mym_sdate, mym_edate, mym_done, mym_yn, video
	FROM myclassmain, 
	(SELECT cs_group, cs_code, cs_video video
		FROM classsub)
	WHERE mym_mid = #{id} 
	AND mym_yn = 'Y'
	AND cs_code = CONCAT(LOWER(mym_code),'_01')
	AND mym_code  LIKE '%' || #{keyword} || '%'
	<if test="done != 'ALL'">
		AND mym_done = #{done}
	</if>
</select>

<!-- 메인강의 수강기간 만료 업데이트 처리 맵핑 구문-->
<update id="updateMainEdate">
	UPDATE (SELECT * FROM
        myclassmain
        WHERE mym_mid = #{id}
        AND mym_yn = 'Y')
	SET mym_yn = 'N'
	WHERE mym_edate <![CDATA[<=]]> SYSTIMESTAMP 
</update>

<!-- 서브강의 수강기간 만료 업데이트 처리 맵핑 구문-->
<update id="updateSubEdate">
	UPDATE (SELECT * FROM
        myclasssub
        WHERE mys_mid = #{id}
        AND mys_yn = 'Y')
	SET mys_yn = 'N'
	WHERE mys_edate <![CDATA[<=]]> SYSTIMESTAMP 
</update>
<!--
<select id="getMyClassMain" resultType="MyClassMain" resultMap="MyClassMainResultMap" parameterType="hashmap">
	SELECT num, mym_no, mym_mid, mym_code, mym_title, mym_name, mym_sdate, mym_edate, mym_done, mym_yn, video 
	FROM (SELECT num, mym_no, mym_mid, mym_code, mym_title, mym_name, mym_sdate, mym_edate, mym_done, mym_yn, video 
	      FROM (SELECT rownum num, mym_no, mym_mid, mym_code, mym_title, mym_name, mym_sdate, mym_edate, mym_done, mym_yn, video
	              FROM myclassmain, (SELECT cs_group, cs_code, cs_video video
	                                FROM classsub)
	              WHERE mym_mid = #{id} 
	              AND mym_yn = 'Y'
	              AND cs_code = CONCAT(LOWER(mym_code),'_01'))
	      WHERE mym_title LIKE '%' || #{keyword} || '%'
	      OR mym_name LIKE '%' || #{keyword} || '%')
	WHERE num  <![CDATA[>=]]>#{startRow} AND num <![CDATA[<=]]>#{endRow}   
</select>
-->

<!-- 수강강의 총 개수 -->
<select id="getMyClassMainTotal" resultType="int"  parameterType="hashmap">
	SELECT COUNT(*) 
	FROM
		(SELECT num, mym_no, mym_mid, mym_code, mym_title, mym_name, mym_sdate, mym_edate, mym_done, mym_yn, video 
		      FROM (SELECT rownum num, mym_no, mym_mid, mym_code, mym_title, mym_name, mym_sdate, mym_edate, mym_done, mym_yn, video
		              FROM myclassmain, (SELECT cs_group, cs_code, cs_video video
		                                FROM classsub)
		              WHERE mym_mid = #{id} 
		              AND mym_yn = 'Y'
		              AND cs_code = CONCAT(LOWER(mym_code),'_01'))
		      WHERE mym_title LIKE '%' || #{keyword} || '%'
		      OR mym_name LIKE '%' || #{keyword} || '%')
</select>

		      
<!-- 수강한 과목별 카운트 -->
<select id="getSubCount" resultType="SubTitle">
	SELECT 
	    (SELECT COUNT(mym_code) count
	    FROM myclassmain
	    WHERE mym_mid = #{id} 
	    AND SUBSTR(mym_code, 1,2) = 'JA') JA,
	    (SELECT COUNT(mym_code) count
	    FROM myclassmain
	    WHERE mym_mid = #{id} 
	    AND SUBSTR(mym_code, 1,2) = 'DB') DB,
	     (SELECT COUNT(mym_code) count
	    FROM myclassmain
	    WHERE mym_mid = #{id} 
	    AND SUBSTR(mym_code, 1,2) = 'JS') JS,
	     (SELECT COUNT(mym_code) count
	    FROM myclassmain
	    WHERE mym_mid = #{id} 
	    AND SUBSTR(mym_code, 1,2) = 'SP') SP,
	     (SELECT COUNT(mym_code) count
	    FROM myclassmain
	    WHERE mym_mid = #{id} 
	    AND SUBSTR(mym_code, 1,2) = 'BS') BS,
	     (SELECT COUNT(mym_code) count
	    FROM myclassmain
	    WHERE mym_mid = #{id} 
	    AND SUBSTR(mym_code, 1,2) = 'KT') KT,
	     (SELECT COUNT(mym_code) count
	    FROM myclassmain
	    WHERE mym_mid = #{id} 
	    AND SUBSTR(mym_code, 1,2) = 'HL') HL,
	     (SELECT COUNT(mym_code) count
	    FROM myclassmain
	    WHERE mym_mid = #{id} 
	    AND SUBSTR(mym_code, 1,2) = 'JQ') JQ,
	     (SELECT COUNT(mym_code) count
	    FROM myclassmain
	    WHERE mym_mid = #{id} 
	    AND SUBSTR(mym_code, 1,2) = 'AJ') AJ
	FROM dual
</select>

<!-- 결제 리스트 총 개수-->
<select id="getPayListCount" resultType="int">
	SELECT COUNT(*) 
		FROM pay
		WHERE p_mid = #{id}
</select>
<!-- 결제 리스트 -->
<select id="getPayList" resultType="Pay" resultMap="MyClassPayResultMap" parameterType="hashmap">
	SELECT * FROM
		(SELECT ROWNUM num, p_cmcode, p_cname, p_price, p_cdate 
		FROM pay
		WHERE p_mid = #{id}
		ORDER BY p_cdate DESC)
	WHERE num  BETWEEN #{startRow} AND #{endRow}
	ORDER BY num
</select>

<!-- 장바구니 리스트 총 개수 -->
<select id="getBasketListCount" resultType="int">
	SELECT COUNT(*)
	FROM basket
	WHERE ba_mid = #{id}
</select>
<!-- 장바구니 리스트 -->
<select id="getBasketList" resultType="Basket" parameterType="hashmap">
	SELECT num, cmNo, cmName, baCmcode, baCname, baPrice
	FROM(SELECT Rownum num, cm_no cmNo, cm_name cmName, ba_cmcode baCmcode, ba_cname baCname, ba_price baPrice
		FROM basket, classmain
		WHERE ba_cmcode = cm_code	
		AND ba_mid = #{id})
	WHERE num  BETWEEN #{startRow} AND #{endRow}
	ORDER BY num
</select>

<!-- 날짜별 수강완료환 강의 수 카운트 -->
<select id="getDoneCount" resultType="HeatData" parameterType="hashmap">
	SELECT TO_CHAR(ddate, 'yyyy-MM-DD') ddate, COUNT(*) cnt
	    FROM ( SELECT mys_ddate ddate
	        FROM myclasssub
	        WHERE mys_mid = #{id}
	        AND mys_done = 'Y')
	WHERE ddate <![CDATA[>=]]> #{start}
	    AND ddate  <![CDATA[<=]]> #{end}
	GROUP BY TO_CHAR(ddate, 'yyyy-MM-DD')
	ORDER BY ddate
</select>

<!-- 서브강의 런타임 조회 -->
<select id="getRunTime" resultType="string" parameterType="hashmap">
	SELECT mys_runtime
	FROM myclasssub
	WHERE mys_mid = #{id}
	AND mys_code = #{hCode}
</select>

<!-- 수강중인 서브강의 시청시간 업데이트 -->
<update id="updateWatchTime" parameterType="hashmap">
	UPDATE myclasssub
	SET mys_watchtime = #{wTime}
	WHERE mys_mid = #{id}
	AND mys_code = #{hCode}
	AND mys_done = 'N'
</update>

<!-- 시청시간이 90프로 이상이면 수강완료 처리 -->
<update id="updateDone" parameterType="hashmap">
	UPDATE myclasssub
	SET mys_watchtime = #{wTime},
		mys_done = 'Y',
		mys_ddate = sysdate
	WHERE mys_mid = #{id}
	AND mys_code = #{hCode}
	AND mys_done = 'N'
</update>

<!-- 가장최근 수강한 강의 -->
<select id="getRecentClass"  resultType ="MyClassSub" resultMap="MyClassSubResultMap">
	SELECT mys_mid, mys_code, mys_group, mys_title, mys_video, mys_ddate
	FROM	(SELECT rownum, mys_mid, mys_code, mys_group, mys_title, mys_video, mys_ddate    
			FROM  ( SELECT mys_mid, mys_code, mys_group, mys_title, mys_video, mys_ddate
			        FROM myclasssub
			        WHERE mys_mid = #{id}
			        AND mys_done = 'Y'
			        ORDER BY mys_ddate DESC) 
			WHERE rownum = 1)
	
</select>

<!-- 수강완료된 강의 조회 -->
<select id="getDoneClass" resultType ="MyClassSub" resultMap="MyClassSubResultMap">
	SELECT mys_code, mys_done
	FROM myclasssub
	WHERE mys_mid = #{id}
	AND mys_done = 'Y'	
</select>
<!-- 
<select id="getMyClassSub" parameterType="hashmap" resultType="MyClassSub" resultMap="MyClassSubResultMap">
	SELECT mys_mid FROM myclasssub
	WHERE mys_mid = #{id}
	AND mys_yn = 'Y'
	AND mys_group = #{mymCode}
</select>
 -->
 <!-- 서브강의 수 조회 -->
 <select id="subListCount" resultType="int" parameterType="hashmap">
 	SELECT COUNT(*) FROM myclasssub
	WHERE mys_mid = #{id}
	AND mys_group = #{group}
 </select>
 
 <!-- 수강완료 한 서브강의 수 조회 -->
 <select id="subListDoneCount" resultType="int" parameterType="hashmap">
 	SELECT COUNT(*) FROM myclasssub
	WHERE mys_mid = #{id}
	AND mys_group = #{group}
	AND mys_done = 'Y'
 </select>
	<resultMap id="MyClassMainResultMap" type="MyClassMain">
		<id property="mymNo" column="mym_no" />
		<result property="mymMid" column="mym_mid" />
		<result property="mymCode" column="mym_code" />
		<result property="mymTitle" column="mym_title" />
		<result property="mymName" column="mym_name" />
		<result property="mymRuntime" column="mym_runtime" />
		<result property="mymWatchtime" column="mym_watchtime" />
		<result property="mymSdate" column="mym_sdate" />
		<result property="mymEdate" column="mym_edate" />
		<result property="mymDone" column="mym_done" />
		<result property="mymYN" column="mym_yn" />
		<result property="image" column="video" />
	</resultMap>
	
	<resultMap id="MyClassSubResultMap" type="MyClassSub">
		<id property="mysNo" column="mys_no" />
		<result property="mysMid" column="mys_mid" />
		<result property="mysCode" column="mys_code" />
		<result property="mysGroup" column="mys_group" />
		<result property="mysTitle" column="mys_title" />
		<result property="mysContent" column="mys_content" />
		<result property="mysVideo" column="mys_video" />
		<result property="mysRuntime" column="mys_runtime" />
		<result property="mysWatchtime" column="mys_watchtime" />
		<result property="mysSdate" column="mys_sdate" />
		<result property="mysEdate" column="mys_edate" />
		<result property="mysDone" column="mys_done" />
		<result property="mysYN" column="mys_yn" />
	</resultMap>
	
	<resultMap id="MyClassPayResultMap" type="Pay">
		<id property="pNo" column="p_no" />
		<result property="pMid" column="p_mid" />
		<result property="pCmcode" column="p_cmcode" />
		<result property="pCname" column="p_cname" />
		<result property="pChk" column="p_chk" />
		<result property="pPrice" column="p_price" />
		<result property="pCdate" column="p_cdate" />
		<result property="pYn" column="p_yn" />
	</resultMap>
					
</mapper>