<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosengcosa.room.mapper.StudyMapper" >
	
	<select id="studyList" resultType="Study" parameterType="hashmap">
		    SELECT
			    num, sNo,sTitle,sError, sAskcontent, sAskimg,sAskid, sOpen,sCdate,sCount,sRecommend, sYn
			FROM    
			    (
				    SELECT
				       ROWNUM num, sNo,sTitle,sError, sAskcontent, sAskimg,sAskid, sOpen,sCdate,sCount,sRecommend, sYn
				    FROM 
				        (
				            SELECT
				                s_no AS sNo,
				                s_title AS sTitle,
				                s_error AS sError,
				                s_askcontent AS sAskcontent,
				                s_askimg AS sAskimg,
				                s_askid AS sAskid,
				                s_open AS sOpen,
				                s_cdate AS sCdate,
				                s_count AS sCount,
				                s_recommend AS sRecommend,
				                s_file AS sFile,
				                s_yn AS sYn
				             FROM
				                study
				             WHERE
		               			 s_yn = 'Y'
		               		ORDER BY
                                s_no DESC
				       ) study
				       ORDER BY 
			        		sNo DESC 	
			    	)
			    	<where>
						num <![CDATA[>=]]> #{startRow} AND num <![CDATA[<=]]> #{endRow}
						<if test="type == 'title'">
							AND sTitle LIKE '%' || #{keyword} || '%'
						</if>
						<if test="type == 'writer'">
							AND sAskid LIKE '%' || #{keyword} || '%'
						</if>
					</where> 
			    	
			    
	</select>
	
	<select id="getStudyCount" resultType="int">
		SELECT 
		    COUNT(s_no) 
		FROM 
			study 
		<where>
			<if test="type == 'title'">
				s_title LIKE '%' || #{keyword} || '%'
			</if>				
			<if test="type == 'writer'">
				s_askid LIKE '%' || #{keyword} || '%'
			</if>				
		</where>
	</select>
	
	<select id="getStudy" resultType="Study" resultMap="StudyResultMap">
		SELECT 
			* 
		FROM study 
		WHERE s_no = #{sNo}
	</select>
	
	<!-- sAskimg -->
	<insert id="insertStudy" parameterType="Study"
		useGeneratedKeys="false" keyProperty="sNo">
		INSERT INTO study (s_no,  s_title, s_error, s_askcontent, s_askimg, 
		s_askid,  s_count, s_recommend, s_file, s_open, 
		s_clear, s_cdate, s_yn) 
		
		VALUES(study_seq.NEXTVAL,  #{sTitle}, #{sError}, #{sAskcontent}, #{sAskimg, jdbcType=VARCHAR}, 
			#{sAskid}, #{sCount}, #{sRecommend}, #{sFile, jdbcType=VARCHAR}, #{sOpen}, 
			#{sClear}, SYSDATE, #{sYn})
				
	</insert>
	
	<select id="isIdCheck">
		SELECT
            s_askid
        FROM
            study
        WHERE
            s_no = #{sNo}
	</select>
	
	<update id="incrementReadCount">
		UPDATE study
			SET s_count = s_count + 1
		WHERE s_no = #{sNo}
	</update>
	
	<update id="updateStudy" parameterType="Study">
		UPDATE study 
			SET s_title = #{sTitle}, s_askcontent = #{sAskcontent}, s_error = #{sError},	
				s_cdate = SYSDATE
		WHERE s_no = #{sNo}
	</update>
	
	<delete id="deleteStudy">
		DELETE FROM study
		WHERE s_no = #{sNo}
	</delete>
	
	<!-- 댓글 -->
	
	<select id="answerList" resultType="StudyAnswer">
		SELECT 
   			sa_no AS saNo,
   			sa_num AS saNum, 
   			sa_answer AS saAnswer,
   			sa_answerimg AS saAnswerImg,
   			sa_answerid AS saAnswerId,
   			sa_cdate AS saCdate 
		FROM 
		    studyAnswer 
		WHERE 
		    sa_num = #{no} 
		ORDER BY 
		    sa_no DESC   
	</select>
	
	<update id="updateRecommend">
		UPDATE study
			SET
				s_recommend= s_recommend + 1
		WHERE s_no = #{no}
	</update>
	
	<select id="getRecommend" resultType="Study">
		SELECT s_recommend
		FROM study
		WHERE s_no = #{no}
	</select>
	
	<insert id="addAnswer" parameterType="StudyAnswer">
		INSERT INTO studyAnswer(sa_no, sa_num, sa_answer, sa_answerid, sa_answerimg, sa_cdate)
		VALUES(studyAnswer_seq.NEXTVAL,#{saNum}, #{saAnswer}, #{saAnswerid}, #{saAnswerimg}, SYSDATE)
	</insert>
	
	<update id="updateAnswer" parameterType="StudyAnswer">
		UPDATE studyAnswer
			SET sa_answer = #{saAnswer}, 
				sa_cdate = SYSDATE
		WHERE sa_no = #{saNo}
	</update>
	
	<delete id="deleteAnswer">
		DELETE FROM studyAnswer
		WHERE sa_no = #{sNo}
	</delete>
	
	<!-- Pay 클래스의 프로퍼티와 테이블의 컬럼을 맵핑하는 ResultMap -->
	<resultMap id="StudyResultMap" type="Study" >
		<id property="sNo" column="s_no" />
		<result property="sCount" column="s_count" />
		<result property="sRecommend" column="s_recommend" />
		<result property="sCode" column="s_code" />
		<result property="sTitle" column="s_title" />
		<result property="sError" column="s_error" />
		<result property="sAskcontent" column="s_askcontent" />
		<result property="sAskimg" column="s_askimg" />
		<result property="sAskid" column="s_askid" />
		<result property="sFile" column="s_file" />
		<result property="sOpen" column="s_open" />
		<result property="sClear" column="s_clear" />
		<result property="sYn" column="s_yn" />
		<result property="sCdate" column="s_cdate" />
	</resultMap>
</mapper>	


