@charset "UTF-8";
.mainBk {
	background-color:#9933ff;
}
.subBk{
	background-color:#e6ccff;
}
.fbk {
	color: black;
	font-weight: bolder;
}

.fwh {
	color: white;
	font-weight: bolder;
}

