@charset "UTF-8";
.mainBk {
	background-color:#8000ff;
}
.subBk{
	background-color:#d1b3ff;
}
.fbk {
	color: black;
	font-weight: bolder;
	text-decoration: none;
}

.fwh {
	color: white;
	font-weight: bolder;
}
.dnone{
	text-decoration: none;
	color: gray;
}
.bbk{
	background-color: black;
}

.checked {
  color: orange;
}

